<h2>{{headline}}</h2>
<p>{{summary}}</p>
<a href='{{url}}' target='_blank'>Link to article</a>
<button class='article-btn' data-id={{_id}} data-saved={{saved}}>
    {{#if saved}}
        Unsave
    {{else}}
        Save
    {{/if}}
</button>